[Unit]
Description=Check the Gold Signal Fetcher IP certificate twice daily

[Timer]
OnCalendar=*-*-* 00,12:17:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
